doctype html
html(lang='en')
    head
        title= pageTitle
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //nereus favicon
        link(rel='shortcut icon', href='favicon.ico')

        //jQuery for bootstrap
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')

        //bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

        //load angular
        script(src='libs/angular/angular.js')
        script(src='libs/angular-route/angular-route.js')
        script(src='libs/angular-animate/angular-animate.js')

        //load custom angular components
        script(src='js/app.js')
        script(src='js/angularRoutes.js')
        script(src='js/services/CountryService.js')
        script(src='js/controllers/mainController.js')

        link(rel='stylesheet', href='css/mainStyles.css')

    body(ng-app='emissionByCountry', ng-controller='MainController as mainCtrl')
        h1.text-center Emission By Country
        p First query data: {{ mainCtrl.firstQueryData }}
        div.col-sm-2
            div.dropdown
                button.btn.btn-info.dropdown-toggle(type='button', id='dropdownMenuButton', data-toggle='dropdown') Countries
                    span.caret
                div.dropdown-menu
                    a.dropdown-item(href='{{country}}', ng-repeat='country in mainCtrl.countries track by $index') {{ country }}
        div.col-sm-10
            div#main
                div(ng-view)