doctype html

html(lang='en')
    head
        title='Emission By Country: Home'
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

        // nereus favicon
        link(rel='shortcut icon', href='favicon.ico')

        // jQuery
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')

        // bootstrap
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js' integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb' crossorigin='anonymous')
        script(src='bootstrap/js/bootstrap.js')
        link(rel='stylesheet', href='bootstrap/css/bootstrap.css')

        link(rel='stylesheet', href='css/mainStyles.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')

        // load angular
        script(src='libs/angular/angular.js')
        script(src='libs/angular-route/angular-route.js')
        script(src='libs/angular-animate/angular-animate.js')

        // highcharts for world map
        script(type='text/javascript', src='https://code.highcharts.com/maps/highmaps.js')
        script(type='text/javascript', src='https://code.highcharts.com/maps/modules/data.js')
        script(src='http://code.highcharts.com/mapdata/custom/world.js')
        script(type='text/javascript', src='https://code.highcharts.com/mapdata/custom/world-highres.js')

        // load custom angular components
        script(src='js/app.js')
        script(src='js/angularRoutes.js')
        script(src='js/services/CountryService.js')
        script(src='js/services/CountriesByName.js')
        script(src='js/services/smoothScrollService.js')
        script(src='js/services/d3Service.js')
        script(src='js/controllers/mainController.js')
        script(src='js/controllers/graphController.js')
        script(src='js/directives/d3Directive.js')

        // load CountUp.js
        script(src='http://inorganik.github.io/countUp.js/countUp.js')

        // load bubble chart
        script(src='https://rawgit.com/vlandham/bubble_chart/gh-pages/lib/d3.js')



    body#top.ng-cloak(ng-app='emissionByCountry', ng-controller='MainController as mainCtrl')
        div#main
            div#contentWrapper.container-fluid(ng-controller='GraphController as graphCtrl')
                button.btn.btn-custom#toTop(ng-click='mainCtrl.backToTop()') Back to Top
                div.row
                    div.container.wide-af
                        div#highmapsContainer Placeholder for highmaps
                    div.col.text-center
                        small#credits
                            small Data source:
                                br
                                | EDGARv4.3.2, European Commission, Joint Research Centre (JRC)/PBL Netherlands Environmental Assessment Agency.
                                | Emission Database for Global Atmospheric Research (EDGAR), release version 4.3.2.
                                |
                                a(href='http://edgar.jrc.ec.europe.eu') http://edgar.jrc.ec.europe.eu
                                | , 2016
                div.top-margin#selectedCountryInfo
                div.top-margin#spacer
                div.lead.justify-content-center.text-center.em
                    | What would be the effects on our oceans if everyone
                    br
                    | on earth lived like the average person from
                    h1#selectedCountryName
                        strong {{graphCtrl.selectedCountryDisplay}}
                    | for 10 years?

                table.mytable.table-responsive.top-margin.side-margins.justify-content-center
                    thead
                        tr
                            th.chantelle-tooltip
                                div {{graphCtrl.matchingDataFromDB[1].displayPropertyName}}
                                div.lead#CO2ImpactNum
                                span.chantelle-tooltiptext-top
                                    | This is calculated by multiplying the per capita CO2 emission of the selected country
                                    | to the world population. The result is then multiplied for 10 years.
                            th.chantelle-tooltip
                                div {{graphCtrl.matchingDataFromDB[7].displayPropertyName}}
                                div.lead#potentialImpactNum
                                span.chantelle-tooltiptext-top
                                    | Maximum catch potential is a proxy of Maximum Sustainable Yield. Changes in
                                    | maximum catch potential is calculated from the changes in projected global total
                                    | maximum catch potential relative to 1950-1969 under the global warming scenario
                                    | with respect to the cumulative CO2 emission. The projections are based on a dynamic
                                    | bioclimate envelope model (see Cheung et al. 2016).
                            th.chantelle-tooltip
                                div {{graphCtrl.matchingDataFromDB[8].displayPropertyName}}
                                div.lead#turnoverImpactNum
                                span.chantelle-tooltiptext-top
                                    | Species turnover is calculated from the sum of projected global average number of
                                    | species gains and losses, relative to the initial  species richness in 1950-1969
                                    | under the global warming scenario with respect to the cumulative CO2 emission.
                                    | The projections are based on a dynamic bioclimate envelope model (see Cheung et al. 2016).
                    tbody
                        tr
                            td#visContainer
                                div#CO2BubbleVis
                            td
                                img#potentialVis.wide-af(ng-src='{{graphCtrl.potentialInclude}}')
                            td
                                img#turnoverVis.wide-af(ng-src="{{graphCtrl.turnoverInclude}}")
                        tr
                            td
                                strong.chantelle-tooltip
                                    br
                                    br
                                    div {{graphCtrl.matchingDataFromDB[5].displayPropertyName}}
                                    div.lead#oxyImpactNum
                                    span.chantelle-tooltiptext-bottom
                                        | Calculated from the difference in projected global average sea surface oxygen
                                        | concentration relative to the 1950-1969 level under the global warming scenario
                                        | with respect to the cumulative CO2 emission. The projection is based on global
                                        | Earth System Model outputs (see Cheung et al. 2016).
                            td
                                strong.chantelle-tooltip
                                    br
                                    br
                                    div {{graphCtrl.matchingDataFromDB[4].displayPropertyName}}
                                    div.lead#warmingImpactNum
                                    span.chantelle-tooltiptext-bottom
                                        | Calculated from the difference in projected global average sea surface
                                        | temperature relative to the 1950-1969 level under the global warming scenario
                                        | with respect to the cumulative CO2 emission. The projection is based on global
                                        | Earth System Model outputs (see Cheung et al. 2016).
                            td
                                strong.chantelle-tooltip
                                    br
                                    br
                                    div {{graphCtrl.matchingDataFromDB[6].displayPropertyName}}
                                    div.lead#acidImpactNum
                                    span.chantelle-tooltiptext-bottom
                                        | Changes in sea surface pH relative to the average level between 1950-1969.
                                        | Each unit decrease in pH represents a tenfold increase in acidity.
                        tr
                            td
                                img#oxyVis.wide-af(ng-src='{{graphCtrl.oxyInclude}}')

                            td
                                img#warmingVis.wide-af(ng-src='{{graphCtrl.warmingInclude}}')
                            td
                                img#acidVis.wide-af(ng-src="{{graphCtrl.acidInclude}}")
                div.row
                    div.col
                        a#backButtonLink(href='http://34.209.207.58/')
                            button.btn.btn-custom-back#backToAll Back to All Data Visualizations
                div.row.text-center
                    div.col
                        div
                            small.invisible-text Produced By The Nereus Program, 2017.