doctype html

html(lang='en')
    head
        title='Emission By Country: Home'
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

        // nereus favicon
        link(rel='shortcut icon', href='favicon.ico')

        // jQuery
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')

        // bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

        link(rel='stylesheet', href='css/mainStyles.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')

        // load angular
        script(src='libs/angular/angular.js')
        script(src='libs/angular-route/angular-route.js')
        script(src='libs/angular-animate/angular-animate.js')

        // highcharts for world map
        script(type='text/javascript', src='https://code.highcharts.com/maps/highmaps.js')
        script(type='text/javascript', src='https://code.highcharts.com/maps/modules/data.js')
        script(type='text/javascript', src='https://code.highcharts.com/mapdata/custom/world-highres.js')

        // load custom angular components
        script(src='js/app.js')
        script(src='js/angularRoutes.js')
        script(src='js/services/CountryService.js')
        script(src='js/services/CountriesByName.js')
        script(src='js/services/smoothScrollService.js')
        script(src='js/services/d3Service.js')
        script(src='js/controllers/mainController.js')
        script(src='js/controllers/graphController.js')
        script(src='js/directives/highChartDirective.js')
        script(src='js/directives/d3Directive.js')

        // load CountUp.js
        script(src='http://inorganik.github.io/countUp.js/countUp.js')

        // load bubble chart
        script(src='https://rawgit.com/vlandham/bubble_chart/gh-pages/lib/d3.js')



    body#top(ng-app='emissionByCountry', ng-controller='MainController as mainCtrl')
        h1.text-center.bottom-margin.top-margin
            strong Per Capita CO2 Emission By Country
        div#main
            div#contentWrapper.container-fluid(ng-controller='GraphController as graphCtrl')
                button.btn.btn-custom#toTop(ng-click='mainCtrl.backToTop()') Back to Top
                div.row
                    high-chart-directive.col-xs-12(update-selected-country='graphCtrl.updateSelectedCountry(newCountry)', data='mainCtrl.testtest')
                div.top-margin#spacer
                div.top-margin#spacer
                div.row.top-margin.side-margins.justify-content-center.text-center
                    div.col.top-margin.justify-content-center#selectedCountryInfo
                        h4
                            strong {{graphCtrl.selectedCountry}}
                        div#visContainer
                            div#CO2BubbleVis CO2 Bubble Vis
                        // d3-directive(data='graphCtrl.matchingDataFromDBWorld', label='name', on-click='graphCtrl.d3OnClick(item)')
                        // d3-directive(data='graphCtrl.matchingDataFromDBForD3', label='propertyName', on-click='graphCtrl.d3OnClick(item)')
                    div.hidden-md-up.w-100
                    div.col.top-margin.justify-content-center#impactsHeader
                        h4
                            strong Impacts of CO2 Emissions
                        table#impactsTable.table-striped.top-margin
                            tr(ng-repeat='data in graphCtrl.matchingDataFromDB')
                                td
                                    div.fixed-width
                                        div {{data.displayPropertyName}} {{data.propertyUnits}}: {{''.toString()}}
                                        div.lead(id='{{data.displayElementID}}')
                                        br