body {
    background-color: #3AD7D5;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.bottom-margin {
    margin-bottom: 40px;
}

.top-margin {
    margin-top: 20px;
}

.side-margins {
    margin-left: 10px;
    margin-right: 10px;
}

.wide-af {
    width: 100%;
}

.btn-custom {
    color: #ffffff;
    background-color: #17314A;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
    color: #ffffff;
    background-color: #0282DA;
}

#toTop {
    margin: auto;
    position: fixed;
    top: 2%;
    right: 2%;
    display: none;
}

#impactsTable {
    display: none;
    table-layout: fixed;
    overflow: hidden;
}
