body {
    background-color: #ffffff;
    color: #12344E;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

th {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

td {
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;

}

.impacts-table {
    display: none;
    table-layout: fixed;
    overflow: hidden;
}

.top-table-container {
    max-width: 100vw;
}

.top-table {
    margin: auto;
    width: calc(100% - 25vw);
}

.panel-label {
    display: none;
}

#contentWrapper {
    max-width: 100%;
}

.bottom-margin {
    margin-bottom: 6vh;
}

.wide-af {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

#toTop {
    margin: auto;
    position: fixed;
    top: 2%;
    right: 2%;
    display: none;
    z-index: 999;
}

#dropdownContainer {
    margin: auto;
    position: fixed;
    top: 2%;
    right: 2%;
    display: block;
    z-index: 999;

}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    color: #12344E !important;
}

.scrollable-menu li:hover {
    cursor: pointer;
}

.dropdown-menu > li:nth-child(odd) {
    background-color: #fbfbfb;
}

#backToAll {
    margin: auto;
    position: fixed;
    top: 2%;
    left: 2%;
    display: none;
    z-index: 999;
    color: #12344E !important;
}
#backButtonLink{
    color: #12344E !important;
}

.btn-custom {
    color: #ffffff;
    background-color: #f15046;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
    color: #ffffff;
    background-color: #FF5549;
}

.btn-custom-grey {
    background-color: #e8e5e6;
}

.btn-custom-grey:hover, .btn-custom-grey:focus, .btn-custom-grey:active, .btn-custom-grey.active {
    background-color: #cecbcc;
}

.chantelle-tooltip {
    position: relative;
    overflow: visible;
}

.chantelle-tooltip .chantelle-tooltiptext {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    visibility: hidden;
    background-color: #484848;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.chantelle-tooltip:hover .chantelle-tooltiptext{
    visibility: visible;
    opacity: 0.9;
}

.circle-container {
    width: 100%;
    height: 100%;
}
.circle-base {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #979790;
    border: 4px solid #cecbcc;
    vertical-align: middle;
    margin: auto;
}

img.logos {
    max-height: 100%;
}
.logo{
    height: 100px !important;
}

.midpadding {
    padding-right: 20px;
}