body {
    background-color: #ffffff;
    color: #12344E;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

high-chart-directive {
    width: 100%;
    overflow: hidden;
}

th {
    min-width: 33.3%;
    max-width: 33.3%;
    width: 33.3%;
    text-align: center;
}

td {
    text-align: center;

}

.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding-left: 90px;
    padding-right: 90px;
    background-color: white;
}

.invisible-text {
    color: #ffffff;
}

.panel-label {
    display: none;
}

#contentWrapper {
    max-width: 100%;
}

.bottom-margin {
    margin-bottom: 40px;
}

.top-margin {
    margin-top: 20px;
}

.side-margins {
    margin-left: 10px;
    margin-right: 10px;
}

.wide-af {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.btn-custom {
    color: #ffffff;
    background-color: #00A132;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
    color: #ffffff;
    background-color: #01C13E;
}

#toTop {
    margin: auto;
    position: fixed;
    top: 2%;
    right: 2%;
    display: none;
    z-index: 999;
}

#dropdownContainer {
    margin: auto;
    position: fixed;
    top: 2%;
    right: 2%;
    display: block;
    z-index: 999;

}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    color: #12344E !important;
}

.scrollable-menu li:hover {
    cursor: pointer;
}

.dropdown-menu > li:nth-child(odd) {
    background-color: #fbfbfb;
}

#backToAll {
    margin: auto;
    position: fixed;
    top: 2%;
    left: 2%;
    display: none;
    z-index: 999;
    color: #12344E !important;
}
#backButtonLink{
    color: #12344E !important;
}

.btn-custom-grey {
    background-color: #e8e5e6;
}

.btn-custom-grey:hover, .btn-custom-grey:focus, .btn-custom-grey:active, .btn-custom-grey.active {
    background-color: #cecbcc;
}

.impacts-table {
    display: none;
    table-layout: fixed;
    overflow: hidden;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #27465E;
}

.chantelle-tooltip {
    position: relative;
    overflow: visible;
}

.chantelle-tooltip .chantelle-tooltiptext {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    visibility: hidden;
    background-color: #484848;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    z-index: 1;
    overflow: visible;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.chantelle-tooltip:hover .chantelle-tooltiptext{
    visibility: visible;
    opacity: 0.9;
}